In [1]:
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
import re
import seaborn as sns

In [3]:
os.getcwd()

'/Users/nicoleramirez/Desktop/SummerWork2019/Projects/Salary-Analysis--Australia---New-Zealand'

In [4]:
#initial analysis of glassdoor salary data
glassDoorDf = pd.read_csv("glassDoorReviews/Data-Professional-Salaries-Master.csv")

In [5]:
print(glassDoorDf.shape)

(27100, 5)

In [6]:
glassDoorDf.columns

Index(['companyName', 'jobTitle', 'location', 'meanPay', 'payRange'], dtype='object')

In [7]:
glassDoorDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27100 entries, 0 to 27099
Data columns (total 5 columns):
companyName    27098 non-null object
jobTitle       27100 non-null object
location       27100 non-null object
meanPay        27100 non-null object
payRange       24040 non-null object
dtypes: object(5)
memory usage: 1.0+ MB

In [8]:
#typecast meanPay to int. First remove $ and , symbols from pay
glassDoorDf['meanPay'] = glassDoorDf['meanPay'].apply(lambda x: re.sub("[^0-9\s]","",x))

In [9]:
glassDoorDf['meanPay'] = glassDoorDf['meanPay'].astype(int)

In [10]:
glassDoorDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27100 entries, 0 to 27099
Data columns (total 5 columns):
companyName    27098 non-null object
jobTitle       27100 non-null object
location       27100 non-null object
meanPay        27100 non-null int64
payRange       24040 non-null object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [11]:
glassDoorDf.sample(10)

,companyName,jobTitle,location,meanPay,payRange
4789,FICO,Data Scientist,United States,95698,$90K - $101K
14244,JT4,Data Analyst,United States,61905,$59K - $65K
9655,Averro,Data Engineer - Hourly,United States,45,$43 - $47
21890,HSBC Holdings,Anti - Money Laundering Data Analyst,United States,67894,$65K - $70K
9701,Home Chef,Data Engineer,United States,122187,$116K - $127K
12000,Micron Technology,Senior Data Engineer,United States,113263,$108K - $118K
25253,Amazon,Linguistic Data Analyst - Hourly,United States,15,$14 - $15
27046,MRM,Associate Data Analyst,United States,79650,$76K - $82K
22704,Matrix Human Services,Associate Data Analyst - Hourly,United States,17,$16 - $18
13459,Columbia International University,Data Analyst,United States,63513,NaN

In [12]:
glassDoorDf.isnull().sum()

companyName       2
jobTitle          0
location          0
meanPay           0
payRange       3060
dtype: int64

In [13]:
"""
Ways to clean the data I'm coming across:
-remove or impute NaN/null values for payRange
-investigate null values for companyName
-Normalise salaries to NZD (since we're doing analysis from here?)

Ways to feature engineer:
-Extract Field from job title(Biology, Finance, Etc)
-extract seniority level (junior, graduate, senior, associate, intern, Chief, etc)
-Extract other information such as funky titles (i.e. data applications engineer, etc)
"""

"\nWays to clean the data I'm coming across:\n-remove or impute NaN/null values for payRange\n-investigate null values for companyName\n-Normalise salaries to NZD (since we're doing analysis from here?)\n\nWays to feature engineer:\n-Extract Field from job title(Biology, Finance, Etc)\n-extract seniority level (junior, graduate, senior, associate, intern, Chief, etc)\n-Extract other information such as funky titles (i.e. data applications engineer, etc)\n"

In [14]:
glassDoorDf['location'].unique()

array(['United States', 'New Zealand', 'Australia'], dtype=object)

In [15]:
#the number of data science-type job titles available in our data-set
len(glassDoorDf[glassDoorDf.jobTitle.str.contains("Data Scien*")]['jobTitle'].unique())

158

In [16]:
len(glassDoorDf[glassDoorDf.jobTitle.str.contains("Analy*")]['jobTitle'].unique())

1802

In [17]:
len(glassDoorDf[glassDoorDf.jobTitle.str.contains("Data Engineer*")]['jobTitle'].unique())

117

In [18]:
len(glassDoorDf[glassDoorDf.jobTitle.str.contains("Machine Learning*")]['jobTitle'].unique())

60

In [19]:
#create a 6th column, categorising job titles into data scientist, analyst, engineer, machine learning professionals
glassDoorDf['jobCategory'] = "N/A" #initialise with N/A

In [20]:
glassDoorDf['jobCategory'].loc[glassDoorDf.jobTitle.str.contains("Data Scien*")] = "Data Science"
glassDoorDf['jobCategory'].loc[glassDoorDf.jobTitle.str.contains("Analy*")] = "Data Analysis"
glassDoorDf['jobCategory'].loc[glassDoorDf.jobTitle.str.contains("Data Engineer*")] = "Data Engineering"
glassDoorDf['jobCategory'].loc[glassDoorDf.jobTitle.str.contains("Machine Learn*")] = "Machine Learning"

/anaconda2/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [21]:
#the number of jobs not categorised as any of the above
len(glassDoorDf[glassDoorDf['jobCategory']=='N/A'])

897

In [22]:
#and examples of those jobs
glassDoorDf[glassDoorDf['jobCategory']=='N/A'].sample(20)

,companyName,jobTitle,location,meanPay,payRange,jobCategory
11056,Tom Sawyer Software,Data Visualization Engineer,United States,80043,$77K - $84K,N/A
10669,Tierpoint,Data Center Engineer,United States,55460,$52K - $60K,N/A
11927,Apex Systems,Data Center Engineer - Contractor,United States,84199,$80K - $87K,N/A
11735,Groupon,Staff Data Software Engineer,United States,206132,$197K - $216K,N/A
11720,Internap Corporation,Data Center Operations Engineer,United States,65043,$63K - $67K,N/A
11565,ProspX,Senior Data Integration Engineer,United States,82677,$79K - $85K,N/A
11912,Amazon,Data Mining Engineer,United States,106368,$101K - $111K,N/A
10439,MySpace,Data Warehouse Engineer,United States,125755,NaN,N/A
12247,Computer Design and Integration,Data Center Engineer,United States,122332,$117K - $127K,N/A
12371,Shutterfly,Senior Lead Engineer Data Integration,United States,156784,$151K - $163K,N/A
10732,Retail Solutions,Senior Data Warehouse Engineer,United States,112867,$96K - $132K,N/A
10351,Epic,Electronic Data Interchange Engineer,United States,115033,NaN,N/A
10451,System Soft Technologies,Software Engineer (Senior Data Migration Consu...,United States,72469,NaN,N/A
12005,Intercontinental Exchange,Data Center Engineer,United States,51089,$49K - $54K,N/A
11144,Ubisoft,Data Warehouse Engineer,United States,110599,$106K - $114K,N/A
11166,J.P. Morgan,Data Center Operations Engineer - Hourly,United States,41,$39 - $43,N/A
10848,Kabbage,Data Warehouse Engineer,United States,88497,$86K - $92K,N/A
10796,Inforsense,Data Mining Support Engineer,United States,77683,$75K - $80K,N/A
9002,Commonwealth Bank of Australia,Data Visualisation - Intern,Australia,52581,A$50K - A$55K,N/A
10597,OwnerIQ,Data Mining Engineer,United States,60307,$58K - $63K,N/A

In [87]:
#to make payRange column useful, split it into 2 columns: payFloor and payCeiling
#making payFloor column
glassDoorDf['payRange'].str.split("-").str[0].str.split("$").str[1].apply(lambda x: if

SyntaxError: invalid syntax (<ipython-input-87-737f60979ee1>, line 3)

In [71]:
glassDoorDf['payFloor']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
         ...
27070     64K
27071     45K
27072     41K
27073     83K
27074     58K
27075     65K
27076     59K
27077    100K
27078      23
27079     70K
27080     68K
27081     57K
27082     53K
27083     58K
27084     78K
27085     79K
27086     51K
27087      33
27088     69K
27089      12
27090     64K
27091     26K
27092      16
27093    108K
27094     60K
27095     73K
27096     97K
27097     64K
27098     92K
27099     72K
Name: payFloor, Length: 27100, dtype: object

In [23]:
#normalise salaries to NZD
"""
Exchange rate as follows:
1 USD = 1.58 NZD
1 AUD = 1.04 NZD
"""

'\nExchange rate as follows:\n1 USD = 1.58 NZD\n1 AUD = 1.04 NZD\n'

In [24]:
glassDoorDf['meanPay'].apply(lambda x: if glassDoorDf['location']=='Australia': )

SyntaxError: invalid syntax (<ipython-input-24-fbebcfe60f68>, line 1)

In [ ]:
glassDoorDf.sample(10)

In [ ]:
# glassDoorDfMainJobCategory = glassDoorDf[glassDoorDf['jobCategory']!= 'N/A']

In [ ]:
# glassDoorDfMainJobCategory.sample(50)

In [ ]:
#non-normalised
grid = sns.FacetGrid(glassDoorDf, row='jobCategory', col='location', size=2.2, aspect=1.6)
grid.map(sns.barplot, 'meanPay', alpha=.5, ci=None)
grid.add_legend()

In [ ]:
#mean of mean pay for data science, data analysis, machine learning engineer, data engineer positions for all three countries
glassDoorDf[['jobCategory', 'meanPay']].groupby(glassDoorDf['location'], as_index=False).mean().sort_values(by='meanPay', ascending=False)